.example-wrapper {
    display: grid;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    border: 2px solid black;
    justify-content: left;
    text-align: left;
    cursor: pointer;
    margin: 10px;
}

.example-name {
    color: white;
    font-size: 22px;
}

.example-text {
    color: white;
}

@media (max-width: 468px) {
    .example-wrapper {
        margin: 5px;
    }
}