.head-wrapper {
    width: 100%;
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-div {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    user-select: none;
}

.logo-div img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.head-wrapper p {
    color: #e6b421;
    font-weight: 900;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    margin-left: -20px;
}

.head-wrapper button {
    padding: 10px 20px;
    font-size: 18px;
    margin-left: auto;
    border-radius: 20px;
    border: 3px solid #e6b421;
    color: #e6b421;
    background: transparent;
    transition: 0.5s ease;
    margin-right: 20px;
}

.head-wrapper button:hover {
    cursor: pointer;
    transform: scale(0.95);

}