.container {
    display: flex;
    width: 100%;
}

.main-chat-window {
    flex: 1;
    align-items: center;
    margin: auto;
}

.main-chat-window p {
    transform: translateX(50%);
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
    color: #e6b421;
    font-family: monospace;
    font-size: 25px;
    user-select: none;
}

@media (max-width: 768px) {
    .main-chat-window p {
        font-size: 16px;
    }
}